* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-position: bottom;
    background-color: black;
}

ul, ol {
    max-width: 250px;
    margin: 20px auto;
}

.cabeca {
    border: 500px;
    background-color: #1e3e3b;
    text-align: center;
    color: #f4c594;
    font-size: 17px;
    font-weight: bold;
}

.corpoCompras, .corpoTarefas {
    margin: 20px;
    padding: 20px;
    border: 500px;
    background-color: #1e3e3b;   
}

.listaCompras, .listaTarefas {
   text-align: center;
   color: #f8efc1;
   font-size: 20px;
   font-weight: bold;
}

.pai {
    color: #400b04;
    font-size: 20px;
    font-weight: bold;
}

.mae {
    color: #9a2494;
    font-size: 20px;
    font-weight: bold;
}

.filho {
    color: #1e90ff;
    font-size: 20px;
    font-weight: bold;
}

.filha {
    color: #ff1493;
    font-size: 20px;
    font-weight: bold;
}

.cardapio {
    text-align: center;
    color: #f8efc1;
    font-size: 20px;
    font-weight: bold;
    background-color: #1e3e3b;
    margin: 10px;
    padding: 20px;
}

.tabela {
    margin: 10px;
    padding: 20px;
    border: 500px;
    background-color: #1e3e3b;
    text-align: center;
}

#topo {
    background-color: #2b3363;
    color: #f4c594;
}

.esquerda {
    background-color: #2b3363;
    color: #f4c594;
}

.corpo {
    background-color: #c8cfff;
    color: #1d264c;
}

tr:hover:nth-child(1n + 1) {
    background-color: #085F63;
    color: #fff;
    }