@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(./imagens/corrida4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

.box {
    width: 85%;
    max-width: 600px;
    background: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    border-radius: 8px;
    text-align: center;
}

.formulario, .radio{
    border: 1px solid #a9a9a9;
    margin: 7px 0px;
    padding: 6px 20px;
    border-radius: 8px;
}

.box h1 {
    font-weight: 500;
    margin-top: 0px;
}

.formulario, .radio label {
    font-size: 13px;
    color: #000;
}

.formulario input {
    width: 50%;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.radio input {
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
}